.bg-img{
  background-image: url("login-1.png");
   height: 768px;
   width: 1360px;
   background-repeat: no-repeat;
   background-size: cover;
}
.card-tot{
  float:right;
  margin-right:90px;
  margin-top:90px;
  
}
.login-card{
  width:459px;
  height:622px;
  border-radius: 20px !important;
  padding-top: 30px !important;
  padding-bottom: 30px !important;
  
}
.login-con{
   /* margin-top:100px !important;  */
   
   margin:35px; 
}
.log-input{
  border: 1px solid #c9c5c5 !important;
  font-family:Montserrat;
  border-radius: 10px;
  width:400px; 
  height:45px;
   
}
.ma-in{
  margin: 0px 30px 0px 30px !important; 
}
  .box1 {
      border-bottom:none !important; 
     -webkit-box-shadow: none !important;
     box-shadow: none !important; 
     font-family:'Proxima Nova'; 
} 
.log-label{
  margin-bottom: 10px !important;
}
.input-field>label {
  color:black;
  position: absolute;
  top: -13px;
  /* bottom: 9px !important; */
  left: 0;
  font-size: 1.5rem;
  cursor: text;
}
.subT{
  font-family:Montserrat;
  color:#c9c5c5;
  font-size:20px;
  
}
.row{
  margin-bottom:0px;
}
.text1{
  color:black;
  font-family:Montserrat;
}
.box1{
  border-radius: 10px;
}
.btnn{
  margin-top:30px;
  margin-left:30px;
  color:#1de9b6;
}
.btn1{
  margin-left:30px;
}
.tex{
  color:#1de9b6;
}
.con{
  color:#c9c5c5;
}
.w-btn{
  background-color: #1de9b6 !important;
}
.btn:hover{
  background-color:#1de9b6;
}
.lab{
  color:black !important;
}
.w-btn{
  width:400px;
  height:45px;
  border-radius: 10px;
  
}
.T-c{
  font-size: 13px;
  margin: 26px;
  margin-top: 7px;
  font-family:Montserrat;
}
.pass{
  font-family:Montserrat;
  color:#1de9b6;
  font-size:19px;
  float:right;
  margin-right:40px;
  margin-bottom:10px;
}
.hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: .5;
  }
  .hr-text:before {
    content: '';
    background: linear-gradient( transparent, #818078);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  .hr-text:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;
    padding: 0 .5em;
    line-height: 1.5em;
    background-color: #fcfcfa;
  }
  
 
